body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#board {
  max-width: 600px;
  max-height: 600px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  line-height: 20px;
  height: 0;
  padding-top: 100%;
  position: relative;
  color: transparent;
  background-color: #fafafa;
}
.cell.card {
  background-color: #eaeaea;
  color: black;
  font-size: 100%;
}
.cell .inner {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(-50%);
}
